h1 {
    font-family: Arial, sans-serif;
    text-align: center;
}

p {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;   /* Label und Input werden untereinander angezeigt */
    align-items: center;      /* Zentriert die Elemente innerhalb des Containers */
  }
  
  label {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 10px;    /* Abstand zwischen Label und Input */
  }
  
  input[type="date"] {
    font-family: Arial, sans-serif;
    padding: 8px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
  }

  button {
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
    background-color: darkgrey;
    border-radius: 10px;    /* abgerundete Ecken */




  }